<link rel="stylesheet" type="text/css" href="js/smart-forms/smart-forms.css">



  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">inDent Digital Marketing</h4>
        <h5 class="text-white uppercase">Digital Marketing for dentists</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="/images/background1.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
 <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="smart-forms bmargin">
            <h3 class="raleway">Contact Us</h3>
            <p>If you have any questions, comments or just want to say please contact us, we'd love to hear from you!</p>
            <br/>
            <br/>
            <!-- <form method="post">
        <input type="hidden" name="action" value="contact"-->
           <!--  <form method="post" action="contact" id="smart-form"> -->
            <form method="post" id="smart-form">
              <input type="hidden" name="action" value="contact">
              <div>
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="text" name="sendername" id="sendername" class="gui-input" placeholder="Enter name">
                    <span class="field-icon"><i class="fa fa-user"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="email" name="emailaddress" id="emailaddress" class="gui-input" placeholder="Email address">
                    <span class="field-icon"><i class="fa fa-envelope"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section colm colm6">
                  <label class="field prepend-icon">
                    <input type="tel" name="telephone" id="telephone" class="gui-input" placeholder="Telephone">
                    <span class="field-icon"><i class="fa fa-phone-square"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="text" name="sendersubject" id="sendersubject" class="gui-input" placeholder="Enter subjec">
                    <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span> </label>
                </div>
                <!-- end section -->
                
                <div class="section">
                  <label class="field prepend-icon">
                    <textarea class="gui-textarea" id="sendermessage" name="sendermessage" placeholder="Enter message"></textarea>
                    <span class="field-icon"><i class="fa fa-comments"></i></span> <span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span> </label>
                </div>
                <!-- end section --> 
                
                <!--<div class="section">
                            <div class="smart-widget sm-left sml-120">
                                <label class="field">
                                    <input type="text" name="captcha" id="captcha" class="gui-input sfcode" maxlength="6" placeholder="Enter CAPTCHA">
                                </label>
                                <label class="button captcode">
                                    <img src="php/captcha/captcha.php?<?php echo time();?>" id="captchax" alt="captcha">
                                    <span class="refresh-captcha"><i class="fa fa-refresh"></i></span>
                                </label>
                            </div> 
                        </div>-->
                
                <div class="result"></div>
                <!-- end .result  section --> 
                
              </div>
              <!-- end .form-body section -->
              <div class="form-footer">
                <button type="submit" data-btntext-sending="Sending..." class="button btn-primary red-5">Submit</button>
                <button type="reset" class="button"> Cancel </button>
              </div>
              <!-- end .form-footer section -->
            </form>
          </div>
          <!-- end .smart-forms section --> 
          
        </div>
        <div class="col-md-4 bmargin">
          <h3 class="raleway">INFO</h3>
          <h6><strong>inDent Digital</strong></h6>
          South Studios, 27/28 New Row South, Dublin 8<br />
          Telephone: +353 83 83 73 660<br />
          <!-- FAX: +1 0123-4567-8900<br /> -->
          <br />
          E-mail: <a href="mailto:padmon29@gmail.com">patrick@indentdigitalmarketing.com</a><br />
          <!-- Website: <a href="index.html">www.yoursitename.com</a> -->
          <div class="clearfix"></div>
          <br/>
          <h3 class="raleway">Find the Address</h3>
          <div id="map" class="map">
            <p>This will be replaced with the Google Map.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>