  <link rel="stylesheet" type="text/css" href="js/cubeportfolio/cubeportfolio.min.css">



  <section class="sec-padding">
      <div class="container">
        <div class="row">

          <div id="filters-container" class="cbp-l-filters-button two three text-right">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Show All
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item"> Identity
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item"> Web Design
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item"> Graphic
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item"> Logos
              <div class="cbp-filter-counter"></div>
            </div>
          </div>
          <div class="demo-full-width">
            <div id="grid-container" class="cbp">
              <div class="cbp-item identity logos"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Suspendisse Imperdiet<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="/images/hopemedical.png" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Suspendisse Imperdiet </div>
                      <div class="cbp-l-caption-desc">by Codelayers</div>
                    </div>
                  </div>
                </div>
                </a> </div>
              <div class="cbp-item web-design"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="Magna Tempus Urna<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="/images/hopemedical.png" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Magna Tempus Urna</div>
                      <div class="cbp-l-caption-desc">by Codelayers</div>
                    </div>
                  </div>
                </div>
                </a> </div>
              <div class="cbp-item motion identity"> <a href="http://placehold.it/800x600" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x600" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Maecenas Sed </div>
                      <div class="cbp-l-caption-desc">by Codelayers</div>
                    </div>
                  </div>
                </div>
                </a> </div>
              
              
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

<script type="text/javascript" src="js/universal/jquery.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/jquery.cubeportfolio.min.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/main.js"></script> 