  <link rel="stylesheet" type="text/css" href="js/cubeportfolio/cubeportfolio.min.css">

  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Kupa Dental</h4>
        <h5 class="text-white uppercase">Web Development and Digital Marketing for dentists</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="/images/background1.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>


  <section class="sec-padding">
      <div class="container">
        <div class="row">

          <div id="filters-container" class="cbp-l-filters-button two three text-right">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Show All
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item"> Identity
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item"> Web Design
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item"> Graphic
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item"> Logos
              <div class="cbp-filter-counter"></div>
            </div>
          </div>
          <div class="demo-full-width">
            <div id="grid-container" class="cbp">
              <div class="cbp-item identity logos"> <a href="/images/demo_screenshot1.png" class="cbp-caption cbp-lightbox" data-title="Suspendisse Imperdiet<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="/images/demo_screenshot1.png" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Medical Surgery </div>
                      <div class="cbp-l-caption-desc">by Kupa</div>
                    </div>
                  </div>
                </div>
                </a> </div>
              <div class="cbp-item web-design"> <a href="/images/Surgery_screenshot.png" class="cbp-caption cbp-lightbox" data-title="Magna Tempus Urna<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="/images/Surgery_screenshot.png" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Dentist Surgery</div>
                      <div class="cbp-l-caption-desc">by Kupa</div>
                    </div>
                  </div>
                </div>
                </a> </div>
                <div class="cbp-item web-design"> <a href="/images/medpress.png" class="cbp-caption cbp-lightbox" data-title="Magna Tempus Urna<br>by Codelayers">
                <div class="cbp-caption-defaultWrap"> <img src="/images/medpress.png" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Medical</div>
                      <div class="cbp-l-caption-desc">by Kupa</div>
                    </div>
                  </div>
                </div>
                </a> </div>
              
              
              
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

<script type="text/javascript" src="js/universal/jquery.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/jquery.cubeportfolio.min.js"></script> 
<script type="text/javascript" src="js/cubeportfolio/main.js"></script> 