{{!< default}}
<!-- masterslider -->
<div class="master-slider ms-skin-default" id="masterslider"> 

	<!-- slide 1 -->
	<div class="ms-slide slide-1" data-delay="9">
		<div class="slide-pattern"></div>
		<img src="/images/background1.jpg" data-src="/images/waitingroom.jpg" alt=""/>

		<h3 class="ms-layer text38"
		style="top: 210px; left:230px;"
		data-type="text"
		data-delay="500"
		data-ease="easeOutExpo"
		data-duration="1000"
		data-effect="right(250)"> </h3>

		<h3 class="ms-layer text39"
		style="top:250px; left:230px;"
		data-type="text"
		data-delay="1000"
		data-ease="easeOutExpo"
		data-duration="1230"
		data-effect="right(250)"> KUPA DENTAL</h3>

		<h3 class="ms-layer text3"
		style="top: 310px; left:230px;"
		data-type="text"
		data-delay="1500"
		data-ease="easeOutExpo"
		data-duration="1230"
		data-effect="right(250)"> The best digital marketing and web development for dentists</h3>

<!-- <a class="ms-layer sbut16"
style="left: 230px; top: 380px;"
data-type="text"
data-delay="2000"
data-ease="easeOutExpo"
data-duration="1200"
data-effect="right(250)"> Read more </a>  -->

</div>
<!-- end slide 1 --> 

<!-- slide 2 -->
<div class="ms-slide slide-2" data-delay="9">
	<div class="slide-pattern"></div>
	<img src="js/masterslider/blank.gif" data-src="/images/dentist1.jpg" alt=""/>

	<h3 class="ms-layer text38 text-center"
	style="top: 210px; color:#828C8F"
	data-type="text"
	data-delay="500"
	data-ease="easeOutExpo"
	data-duration="1230"
	data-effect="left(250)"> Dental industry experts</h3>

	<h3 class="ms-layer text39 text-center"
	style="top:250px; color:#828C8F"
	data-type="text"
	data-delay="1000"
	data-ease="easeOutExpo"
	data-duration="1230"
	data-effect="right(250)"> Welcome to Kupa Dental</h3>

	<h3 class="ms-layer text3 text-center"
	style="top: 310px; color:#828C8F"
	data-type="text"
	data-delay="1500"
	data-ease="easeOutExpo"
	data-duration="1230"
	data-effect="left(250)"> Working closely with industry experts to give you bespoke digital solutions</h3>

<!-- <a class="ms-layer sbut16"
style="left: 740px; top: 380px;"
data-type="text"
data-delay="2000"
data-ease="easeOutExpo"
data-duration="1200"
data-effect="right(250)"> Read more </a>  -->

</div>
<!-- end slide 2 -->



</div>
<!-- end of masterslider -->
<div class="clearfix"></div>

<section class=" section-light section-side-image clearfix">
	<div class="img-holder col-md-6 col-sm-3 pull-left">
		<div class="background-imgholder" style="background:url(http://cdn.kevinmd.com/blog/wp-content/uploads/shutterstock_104845643.jpg);"> <img class="nodisplay-image" src="images/patient1.jpeg" alt=""/> </div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">
				<div class="text-box">
					<h3 class="uppercase">Who are we?</h3>
					<div class="title-line-4 less-margin"></div>
					<div class="clearfix"></div>
					<p class="sub-title-left">Kupa Dental is a full-service digital marketing and web development agency, specializing in growing dental practises through stylish web development, digital marketing and branding.</p>
					<ul class="iconlist red-5">
						<li><i class="fa fa-arrow-circle-right"></i> Development Experts </li>
						<li><i class="fa fa-arrow-circle-right"></i> Great network of designers </li>
						<li><i class="fa fa-arrow-circle-right"></i> Experienced with online campaigns</li>
					</ul>
					<br/>
					<br/>
					<a href="#" class="btn btn-border red-5">Read more</a> </div>
				</div>
			</div>
		</div>
	</section>
	<!--end section-->
	<div class=" clearfix"></div>

<section class="section-red-5 sec-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-alarmclock"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Web Development</h4>
						<p class="text-white">We build beautiful dental websites using the latest technologies to convert your visitors into customers </p>
					</div>
				</div>
			</div>
			<!--end item-->


			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-layers"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Graphic Design</h4>
						<p class="text-white">We believe first impressions are everything. Attention to detail on design is what we're all about</p>
					</div>
				</div>
			</div>
			<!--end item-->

			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-pricetags"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Mobile</h4>
						<p class="text-white">These days more people will visit your website on a mobile device. Good thing our sites are built to look beautiful on mobile and desktop</p>
					</div>
				</div>
			</div>
			<!--end item-->



			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-tools"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Digital Marketing</h4>
						<p class="text-white">We bring everything under one roof to ensure you have a marketing plan tailored to your needs</p>
					</div>
				</div>
			</div>
			<!--end item-->

			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-map"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Search Engine optimization</h4>
						<p class="text-white">Most people will search online when looking for a dentist, we make sure they see you first</p>
					</div>
				</div>
			</div>
			<!--end item-->

			<div class="col-md-4 col-sm-6">
				<div class="item-holder marginbottom">
					<div class="icon-plain-small left white"><span class="icon-chat"></span></div>
					<div class="text-box-right less-padding-1">
						<h4 class="text-white">Support and Hosting</h4>
						<p class="text-white">We offer extensive support packages. Let us handle the tech so you be free to focus on the work that matters </p>
					</div>
				</div>
			</div>
			<!--end item--> 

		</div>
	</div>
</section>
<!--end section-->
<div class="clearfix"></div>



<section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="uppercase">Why Kupa Dental</h3>
          <div class="title-line-4 less-margin align-center"></div>
          <p class="sub-title-2">We're a small nimble agency with a passion for dental. We love to work closely with our clients to ensure the service they get is exactly what they want, nothing more, nothing less.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="icon-tools"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Efficient</h4>
                <p>We're a small agile company who pride ourselves on a high quality creative output without the bloat of a larger agency.</p>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="icon-lightbulb"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Creative</h4>
                <p>Whether creative business decision making or graphic design we pride ourselves on our agile creative approach.</p>
              </div>
            </div>
          </div>
          <!--end item-->
          <div class="col-divider-margin-3"></div>
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="icon-basket"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Dedicated</h4>
                <p>We work with one client at a time to give you the benefit of all of our skills and resources. Become our number 1 client.</p>
              </div>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-6">
            <div class="feature-box70 bmargin">
              <div class="icon-plain-small left white"><span class="icon-chat"></span></div>
              <div class="text-box-right text-left less-padding-1">
                <h4 class="text-white">Professional</h4>
                <p>We're a friendly bunch. But above all we're professional, meeting deadlines and customer satisfaction are paramount. </p>
              </div>
            </div>
          </div>
          <!--end item--> 
          
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h5>Get in touch today to learn about integrating Kupa as part of your team.</h5>
          <p>We offer full service packages to allow you to focus on the work that matters.</p>
          <br/>
          <ul class="iconlist dark">
            <li><i class="fa fa-arrow-circle-right"></i> Website development </li>
            <li><i class="fa fa-arrow-circle-right"></i> Deployment and Hosting</li>
            <li><i class="fa fa-arrow-circle-right"></i> Photography and brochures </li>
            <li><i class="fa fa-arrow-circle-right"></i> Maintenance and alterations </li>
          </ul>
          <br>
          <a class="btn btn-border red-5" href="#">Read more</a> </div>
        <!--end item--> 
      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>

<!-- <section class="sec-padd-default-page">
<div class="container">
<div class="row">
<div class="col-xs-12 text-center">
<h6 class="nopadding lspace-1">What We Do</h6>
<h1 class="paddtop1 dosis font-weight-5 lspace-sm">Our Wor<span class="text-orange-2">ks</span></h1>
<div class="title-line-4 align-center"></div>
</div>
<div class="clearfix"></div>
<div class="demo-full-width">
<div id="grid-container" class="cbp">
<div class="cbp-item identity logos"> <a href="http://placehold.it/800x800" class="cbp-caption cbp-lightbox" data-title="Suspendisse Imperdiet<br>by Codelayers">
<div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x800" alt=""> </div>
<div class="cbp-caption-activeWrap">
<div class="cbp-l-caption-alignLeft">
<div class="cbp-l-caption-body">
<div class="cbp-l-caption-title">Suspendisse Imperdiet </div>
<div class="cbp-l-caption-desc">by Codelayers</div>
</div>
</div>
</div>
</a> </div>
<div class="cbp-item web-design"> <a href="http://placehold.it/800x800" class="cbp-caption cbp-lightbox" data-title="Magna Tempus Urna<br>by Codelayers">
<div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x800" alt=""> </div>
<div class="cbp-caption-activeWrap">
<div class="cbp-l-caption-alignLeft">
<div class="cbp-l-caption-body">
<div class="cbp-l-caption-title">Magna Tempus Urna</div>
<div class="cbp-l-caption-desc">by Codelayers</div>
</div>
</div>
</div>
</a> </div>
<div class="cbp-item motion identity"> <a href="http://placehold.it/800x800" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Codelayers">
<div class="cbp-caption-defaultWrap"> <img src="http://placehold.it/800x800" alt=""> </div>
<div class="cbp-caption-activeWrap">
<div class="cbp-l-caption-alignLeft">
<div class="cbp-l-caption-body">
<div class="cbp-l-caption-title">Maecenas Sed </div>
<div class="cbp-l-caption-desc">by Codelayers</div>
</div>
</div>
</div>
</a> </div>
</div>
</div>
</div>
</div>
</section>
<!--end section-->
<!-- <div class="clearfix"></div> --> -->


<!--  -->
<section class="parallax-section54">
	<div class="section-overlay bg-opacity-4">
		<div class="container sec-tpadding-3 sec-bpadding-3">
			<div class="row">
				<div class="col-md-6">
					<div class="feature-box71">
						<h4 class="uppercase text-white">100% Responsive - Ready for mobile</h4>
						<div class="title-line-4 white less-margin"></div>
						<div class="clearfix"></div>
						<p>These days it's so important to be mobile ready. <span class="text-red-5">All of our websites</span> are built to be fully responsive so they look as good on your phone as they do on your computer. This makes it easier for people to get information and book an appointment with your practise</p>
						<br/>

						<p>Read more about why mobile is so important in 2016</p><br/>
						<a class="btn btn-red-5" href="#">Read more</a> </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--end section-->
	<!-- <div class="clearfix"></div> -->



	<!-- <section class=" section-light section-side-image clearfix">
		<div class="img-holder col-md-6 col-sm-3 pull-left">
			<div class="background-imgholder" style="background:url('/images/seo.jpg');"> <img class="nodisplay-image" src="/images/seo.jpg" alt=""/> </div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">
					<div class="text-box">
						<h3 class="uppercase">Let us handle it!</h3>
						<div class="title-line-4 less-margin"></div>
						<div class="clearfix"></div>
						<p class="sub-title-left"><span class="text-red-5">We love to work on all aspects of digital marketing and development</p>
						<div class="col-md-6 col-xs-12">
							<div class="item-holder">
								<div class="icon-plain-small left"> <span class="icon-layers"></span></div>
								<div class="text-box-right less-padding-1">
									<h5>Create</h5>
									<p>Create a site and a leen strategy to promote your business</p>
								</div>
							</div>
						</div>
						<!--end item-->

				<!-- 		<div class="col-md-6 col-xs-12">
							<div class="item-holder">
								<div class="icon-plain-small left"> <span class="icon-basket"></span></div>
								<div class="text-box-right less-padding-1">
									<h5>Maintain</h5>
									<p>Let us handle the nitty gritty day to day maintenance so you can get on with the important stuff</p>
								</div>
							</div>
						</div>
						<!--end item-->
						<!-- <div class="clearfix"></div>
						<br/>
						<br/>
						<a class="btn btn-border red-5" href="#">Read more</a></div>
					</div>
				</div>
			</div>
		</section>
		<!--end section-->
		<!-- <div class=" clearfix"></div> -->