  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Kupa Dental</h4>
        <h5 class="text-white uppercase">Digital Marketing for dentists</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="/images/background1.jpg" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>


  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Services</h3>
          </div>
          <div class="col-md-6 text-right">
            <!-- <div class="pagenation_links"><a href="index.html">Home</a><i> / </i> Services </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-padding">
    <div class="container">
      <div class="row">
      
      <div class="col-xs-12 text-center">
          <h3 class="uppercase">Our Services</h3>
          <div class="title-line-4 less-margin align-center"></div>
          <p class="sub-title-2">We cater for all your web development and digital marketing needs to put you ahead of the rest.</p>
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-pencil"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Web Development </h4>
              <p> We build beautiful dental websites using the latest technologies to convert your visitors into customers </p>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-scissors"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Graphic Design</h4>
              <p> We believe first impressions are everything. Attention to detail on design is what we're all about</p>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-heart"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Photography</h4>
              <p> A picture says a 1000 words. Our photographers will catch the best side of your practice to show online.</p>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="clearfix"></div>
        <div class="col-divider-margin-6"></div>
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-hotairballoon"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Digital Marketing</h4>
              <p> We bring everything under one roof to ensure you have a marketing plan tailored to your needs</p>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-layers"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Search Engine Optimization</h4>
              <p> Most people will search online when looking for a dentist, we make sure they see you first</p>
            </div>
          </div>
        </div>
        <!--end item-->
        
        <div class="col-md-4">
          <div class="feature-box-74 bmargin">
            <div class="iconbox-xtiny left round"><span class="icon-tools"></span></div>
            <div class="text-box-right">
              <h4 class="uppercase font-weight-3">Support and Hosting</h4>
              <p> We offer extensive support packages. Let us handle the tech so you be free to focus on the work that matters</p>
            </div>
          </div>
        </div>
        <!--end item--> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <!-- <section class="sec-bpadding-2">
    <div class="container">
      <div class="row">
        <div class="text-box padding-4 section-red-5">
          <blockquote class="style1"><span>
            <h5 class="dosis uppercase text-white">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci.</h5>
            </span></blockquote>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div> -->
  
  <section class="sec-bpadding-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 bmargin">
          <h3>What We Offer</h3>
          <div class="divider-line solid light"></div>
          <br/>
          <p>Kupa is a full service digital marketing agency based in the heart of Dublins most creative areas, specializing in growing dental practises through branding and online marketing. We love working with enthusiastic business and unlike other services that may offer a single element of your marketing portfolio such as banner ads or SEO, we fully integrate ourselves into your dental practise and become a valuable member of your team.</p>
          <br />
          <p> In our current climate of every changing technology we bring together our passions for technology and business and ensure you get the latest and great designs and technology putting you at the top of your field.</p>
          <br/>
          <p>We ensure when working together you get:</p>
          <ul class="iconlist less-margin orange2">
            <li><i class="fa fa-check"></i> Transparency - Know what's happening at all times </li>
            <li><i class="fa fa-check"></i> Cost Effective - We're a leen team who develop rapidly using agile methods </li>
            <li><i class="fa fa-check"></i> Aftercare - Our maintenance packages keep us working together</li>
          </ul>
        </div>
        <!--end item-->
        
        <div class="col-md-6 col-sm-6 col-xs-12 bmargin">
          <h3>All in one place</h3>
          <div class="divider-line solid light"></div>
          <br/>
          <div class="margin-top1"></div>
          
          <div class="video-wrapper" style="background:url('/images/seo.jpg')">
            
            <!-- <video controls poster="http://placehold.it/1600x900">
              <source type="video/webm" src="http://codelayers.net/videos/Applead.webm">
              <source type="video/mp4" src="http://codelayers.net/videos/Applead.mp4">
              <source type="video/ogg" src="http://codelayers.net/videos/Applead.ogv">
            </video> -->
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>
  
 <!--  <section class="section-red-5 section-less-padding clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="clientlogo-list">
            <li><img src="http://placehold.it/170x80" alt=""/></li>
            <li><img src="http://placehold.it/170x80" alt=""/></li>
            <li><img src="http://placehold.it/170x80" alt=""/></li>
            <li><img src="http://placehold.it/170x80" alt=""/></li>
            <li><img src="http://placehold.it/170x80" alt=""/></li>
            <li><img src="http://placehold.it/170x80" alt=""/></li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
  <!--end section -->
  <div class="clearfix"></div>
  
  